.gradle
/local.properties
.DS_Store
build/
/captures
*.iml
/reports
*.apk
/.idea/
/*.properties
/app/libs
app/fabric.properties
/app/src/jni/
Thumbs.db
crashlytics-build.properties
projectFilesBackup
/summit-app.local.properties
/app/google-services.json
