googleMapApiKey=
fabricApiKey=
parseApplicationId=
parseClientKey=
ServiceClientId=
ServiceClientSecret=
NativeClientId=
NativeClientSecret=
NativeClientReturnUrl=
ResourceServerBaseUrl=
IdentityProviderBaseUrl=
WebSiteBaseUrl=
YouTubeAndroidPlayerAPIKey=
BasicAuthUser=
BasicAuthPass=